---

---

<div class="library">
    <div class="libary_txt">
        <img src="icons/library-icon-filled.svg" alt="library"> Dit bibliotek
    </div>
    <div class="library_plus">
        <img src="icons/create-icon.svg" alt="library">
    </div>
</div>

<style>
    .library {
        display: grid;
        grid-template-columns: 1fr 1fr;
        opacity: 0.75;
        padding: 20px;
        font-weight: bold;
    }
    .library_plus {
        text-align: right;
    }
</style>