<div class="header_wrap">
    <div class="controls_box">
        <img src="icons/back-btn.svg" alt="back">
        <img src="icons/forward-btn.svg" alt="forward">
    </div>
    <div class="login_box">
        <a class="tilmeld" href="">Tilmeld dig</a>
        <a class="login" href="">Log på</a>
    </div>
</div>

<style>
    .header_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
    }
    .login_box {
        text-align: right;
    }
    .tilmeld {
        padding: 10px 20px;
        color: gray;
        text-decoration: none;
        font-weight: bold;
    }
    .login {
        background-color: white;
        border-radius: 20px;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
</style>